	body {
		background-color: #ffffff;
		font-family: "微软雅黑";
	}
	
	input {
		border: 0;
	}
	
	.col-xs-1,
	.col-xs-10,
	.col-xs-11,
	.col-xs-12,
	.col-xs-2,
	.col-xs-3,
	.col-xs-4,
	.col-xs-5,
	.col-xs-6,
	.col-xs-7,
	.col-xs-8,
	.col-xs-9 {
		padding: 0!important
	}
	
	.top {
		background-color: #45b7fe;
		width: 100%;
	}
	
	.top1 {
		padding: 0 0.2rem;
	}
	
	.pic {
		text-align: center;
		height: 0.4rem;
	}
	
	.pic img {
		float: left;
		width: 0.2rem;
	}
	
	.pic-p {
		float: right;
		text-align: right;
		height: 0.4rem;
	}
	
	.reco-in {
		padding: 0.27rem 0 0;
		height: 0.9rem;
	}
	
	.reco-in-ri {
		padding: 0.31rem 0 0;
	}
	
	.reco-pic {
		overflow: hidden;
		vertical-align: bottom;
	}
	
	.pic-p p {
		color: #FFFFFF;
		font-size: 0.28rem;
	}
	
	h1 {
		margin: 0.03rem;
		text-align: center;
		color: #FFFFFF;
		font-size: 0.36rem;
	}
	
	.gray {
		height: 0.3rem;
		background-color: #f1f1f1;
		width: 100%;
	}
	
	.midd {
		width: 100%;
	}
	
	.midd .midd1 {
		text-align: left;
		height: 0.85rem;
		padding: 0.2rem;
	}
	
	.midd .midd2 {
		text-align: left;
		height: 2.4rem;
		padding: 0.2rem;
		border-bottom: 1px solid #999999;
	}
	
	.midd2 .a-butt {
		height: 0.45rem;
	}
	
	.midd2 img {
		float: left;
		width: 2.5rem;
	}
	
	.midd2 .a-butt p {
		position: absolute;
		z-index: 10;
		float: left;
		width: 2.5rem;
		padding: 0px 0.2rem;
		font-size: 0.24rem;
		line-height: 0.35rem;
		max-height: 0.35rem;
		text-align: left;
		bottom: -10px;
		color: #FFFFFF;
		background-color: rgba(0, 0, 0, .25);
	}
	
	.midd .midd1 .midd-bo {
		height: 0.65rem;
		width: 100%;
		border-bottom: 1px solid #999999;
	}
	
	.midd .midd1 p {
		font-size: 0.28rem;
		line-height: 0.45rem;
		max-height: 0.45rem;
	}
	
	.midd .midd-inp {
		font-size: 0.28rem;
		height: 0.45rem;
		width: 100%;
	}
	
	.midd .midd-img {
		padding: 0.1rem;
	}
	
	.midd .photo {
		text-align: center;
		border: 1px dashed #999999;
		height: 1.7rem;
	}
	
	.midd .midd3 {
		height: 2.1rem;
		padding: 0.2rem;
	}
	
	.midd .midd4 .midd-tex {
		height: 2.1rem;
		width: 100%;
		font-size: 0.28rem;
		line-height: 0.35rem;
		border: 0px;
	}
	
	.midd .midd1-1 {
		padding: 0.2rem;
		border: 1px solid #999999;
	}
	
	.midd .midd4 {
		padding: 0.2rem;
		height: 2.9rem;
	}
	
	.bottom {
		position: fixed;
		bottom: 0px;
		width: 100%;
		background-color: #f1f1f1;
	}
	
	.bottom .butt {
		padding: 0.25rem;
	}
	
	.butt-bor {
		background-color: #45b7fe;
		border: 1px solid #999999;
		border-radius: 5px;
	}
	
	.bottom .butt p {
		text-align: center;
		font-size: 0.3rem;
		line-height: 0.4rem;
		padding: 0.2rem;
		color: #FFFFFF;
	}
	
	footer {
		height: 2.86rem;
	}
	
	.foot {
		position: fixed;
		background-color: #FFFFFF;
		width: 100%;
		height: 2.86rem;
		z-index: 10;
		bottom: 0px;
		text-align: center;
		vertical-align: middle;
	}
	
	.foot .col-xs-12 {
		height: 0.88rem;
		border-bottom: 1px solid #ccc;
	}
	
	.foot .col-xs-12 p {
		font-size: 0.3rem;
		line-height: 0.48rem;
		max-height: 0.48rem;
		padding: 0.2rem;
	}
	
	.btm {
		display: none;
	}
	
	.foot-nav {
		padding: 0.10rem;
		width: 100%;
		height: 0.9rem;
		text-align: center;
		color: #F1F1F1;
		border-bottom: 1px solid #ccc;
	}
	
	.foot-nav h2 {
		color: #333;
	}
	
	#head {
		display: none;
	}
	
	#head1 img {
		width: 0.16rem;
	}
	
	.midd1 .memberphoto-upload {
		width: 100%;
		height: 2.2rem;
		position: absolute;
		top: 0rem;
		left: 0;
		opacity: 0;
		filter: alpha(opacity=0);
		z-index: 10
	}
	
	#imghead1 {
		width: 2.5rem;
		height: 1.8rem;
	}