input {
	border: 0;
}

h2 {
	margin: 0px;
}

.top {
	background-color: #45b7fe;
	width: 100%;
}

.pic {
	text-align: center;
	height: 0.4rem;
}

.pic-p {
	float: right;
	text-align: right;
	height: 0.4rem;
}

.reco-in {
	padding: 0.27rem 0 0;
	height: 0.9rem;
}
.reco-in-ri {
	padding: 0.31rem 0 0;
}
.reco-pic {
	overflow: hidden;
	vertical-align: bottom;
}

.pic-p p {
	color: #FFFFFF;
	font-size: 0.28rem;
}

h1 {
	margin: 0.03rem;
	text-align: center;
	color: #FFFFFF;
}

.gray {
	height: 0.2rem;
	background-color: #f1f1f1;
	width: 100%;
}

.id {
	width: 100%;
	border-bottom: 1px solid #F1F1F1;
}

.id .id-1 {
	height: 0.85rem;
	padding: 0.25rem 0.3rem;
}

.id .id-1 .id-1-2 {
	float: left;
}

.id .id-1 .id-1-1 {
	font-weight: bold;
	float: left;
	width: 30%;
}

.id .id-1 .id-2 {
	float: left;
	width: 70%;
}

.id .id-1 .id-2-1 {
	float: left;
	width: 30%;
	margin-left: 3%;
}

.id .id-3 {
	height: 1.2rem;
}

.id .id-1 .id-1-5 {
	max-height: 0.7rem;
	overflow: hidden;
	line-height: 0.35rem;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}
.midd-btn{
	display: none;
	padding: 0.3rem;
	height: 1.4rem;
	background-color: #F1F1F1;
}
.midd-btn .btn-1{
	background-color: #45b7fe;
	font-size: 0.3rem;
	width: 100%;
	height: 0.8rem;
	border-radius: 10px;
}