body {
	background-color: #ffffff;
	font-family: "微软雅黑";
}

input {
	border: 0;
}

.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
	padding: 0!important
}

.top {
	background-color: #45b7fe;
	width: 100%;
}
.top1{
	padding: 0 0.2rem;
}
.pic {
	text-align: center;
	height: 0.4rem;
}
.pic img {
	float: left;
}
.pic-p {
	float: right;
	text-align: right;
	height: 0.4rem;
}

.reco-in {
	padding: 0.27rem 0 0;
	height: 0.9rem;
}
.reco-in-ri {
	padding: 0.31rem 0 0;
}
.reco-pic {
	overflow: hidden;
	vertical-align: bottom;
}

.pic-p p {
	color: #FFFFFF;
	font-size: 0.28rem;
}

h1 {
	margin: 0.03rem;
	text-align: center;
	color: #FFFFFF;
}

.chat {
	width: 100%;
}

.chat .col-xs-2 a img {
	vertical-align: middle;
	border-radius: 10px;
}

.chat .fie {
	width: 100%;
	margin-top: 0.2rem;
	text-align: center;
}
.chat .fie .col-xs-3{
	text-align: center;
}
.chat .tip {
	padding: 0px 0.2rem;
}

.chat .tip-butt {
	width: 100%;
	color: #999999;
	text-align: left;
	border-radius: 10px;

}

.chat .tip-butt h3 {
	margin: 0px;
	padding: 0.2rem;
	line-height: 0.3rem;
}

.chat .time {
	position: relative;
	margin-bottom: 0.2rem;
	width: 100%;
	height: 0.3rem;
}

.time p {
	font-size: 0.2rem;
	line-height: 0.3rem;
	max-height: 0.3rem;
	text-align: center;
}

footer {
	height: 1rem;
}

.foot {
	position: fixed;
	background-color: #f6f6f6;
	width: 100%;
	height: 1rem;
	z-index: 10;
	bottom: 0px;
	text-align: center;
	vertical-align: middle;
}

.foot .buttom .col-xs-6 input {
	height: 0.65rem;
	width: 100%;
	border: 1px solid #F6F6F6;
	border-radius: 10px;
}

.foot .buttom {
	padding: 0.2rem;
	height: 1rem;
}

.foot .buttom input {
	font-size: 0.28rem;
}

.foot .buttom .col-xs-2 .rig {
	border: 1px solid #45b7fe;
	border-radius: 10px;
	height: 0.6rem;
	background-color: #45b7fe;
}

.foot .buttom .col-xs-2 .rig p {
	padding: 0.15rem;
	font-size: 0.24rem;
}

/* zhaop*/
.foot .col-xs-2 img{
	width: 0.56rem;
	}
