
body {
	background-color: #ffffff;
	font-family: "微软雅黑";
}

input {
	border: 0;
}

.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
	padding: 0!important
}


.top {
	background-color: #45b7fe;
	width: 100%;
}
.top1{
	padding: 0 0.2rem;
}
.pic {
	text-align: center;
	height: 0.4rem;
}
.pic img {
	float: left;
}
.pic-p {
	float: right;
	text-align: right;
	height: 0.4rem;
}

.reco-in {
	padding: 0.27rem 0 0;
	height: 0.9rem;
}
.reco-in-ri {
	padding: 0.31rem 0 0;
}
.reco-pic {
	overflow: hidden;
	vertical-align: bottom;
}

.pic-p p {
	color: #FFFFFF;
	font-size: 0.28rem;
}

h1 {
	margin: 0.03rem;
	text-align: center;
	color: #FFFFFF;
}

.gray {
	height: 0.2rem;
	background-color: #f1f1f1;
	width: 100%;
}

.chat {
	width: 100%;
	padding: 0.2rem;
}

.chat .col-xs-2 a {
	border-radius: 10px;
}

.chat .col-xs-2 .fie-a img{
	text-align: center;
}
.chat .fie{
	margin-bottom: 0.2rem;
	width: 100%;
	height: 1.4rem;
	border-bottom: 1px solid #999999;
}
.chat .fie .cue{
	position: absolute;
	margin-left: 1rem;
	z-index: 20;
	height: 0.3rem;
	width: 0.3rem;
	float: right;
	background-color: #f8622d;
	border: 1px solid #f8622d;
	border-radius: 50px;
	text-align: center;
}
.chat .fie .cue p{
	font-size: 0.18rem;
	color: #FFFFFF;
}
h3{
	margin: 0px;
}
.chat .tip{
	height: 1.4rem;
	padding: 0px 0.2rem;
}
.chat .tip-butt {
	margin-top: 0.1rem;
	height: 0.3rem;
	margin-left: 0.1rem;
	padding: 0 0.1rem;
	width: 100%;
	color: #999999;
	text-align: left;
}
.chat .tip-butt h3{
	line-height: 0.3rem;
}
.chat .col-xs-4 h3{
	text-align: right;
}
.tip-butt .col-xs-12 h3{
	max-height: 0.3rem;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
}
footer{
	height: 1rem;
}
.foot{
	position: fixed;
	z-index: 30;
	height: 1rem;
	background-color: #f1f1f1;
	width: 100%;
	bottom: 0px;
}
.foot .foot-p{
	padding: 0.3rem;
	font-size: 0.28rem;
	line-height: 0.4rem;
	max-height: 0.4rem;
	text-align: center;
}


/* zhaop*/
.fie-a img{
	width: 1.2rem;
	}