.top {
	width: 100%;
}

.reco-in {
	padding: 0.2rem 0.3rem;
	height: 0.9rem;
}

.reco-pic {
	overflow: hidden;
	vertical-align: middle;
}
.top1{
	background-color: #45b7fe;
}
h1 {
	margin: 0.03rem;
	text-align: center;
	color: #FFFFFF;
	font-size: 0.36rem;
}

.midder {
	width: 100%;
}

.class1 {
	background-color: #FFFFFF;
	padding: 0.2rem;
	height: 2.7rem;
	border-bottom: 1px solid #999999;
}

.class1-left {
	width: 30%;
	overflow: hidden;
	text-align: center;
}

.class1-left img {
	height: 100%;
}

.class1-right {
	width: 70%;
	padding-left: 0.2rem;
}

.class1-right .rihgt-p-1 {
	line-height: 0.28rem;
	max-height: 0.28rem;
	overflow: hidden;
	margin-bottom: 0.2rem;
}

.class1-right .right-p-2 {
	color: #45b7fe;
	margin-bottom: 0.25rem;
}

.class1-right .right-p-3 {
	line-height: 0.36rem;
	font-size: 0.24rem;
	max-height: 0.36rem;
	overflow: hidden;
	color: #999999;
}

.class1-right .right-p-4 {
	max-height: 0.72rem;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}

/* zhaop*/
.midder img{
	width: 1.58rem;
}
.zuo-1{
	width: 0.2rem;
}
.sousuo-1{
	width: 0.36rem;
}
