.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
	padding: 0!important
}

h1,
h2,
h3 {
	margin: 0px;
}

.gray {
	height: 0.2rem;
	background-color: #f1f1f1;
	width: 100%;
}

.top {
	width: 100%;
	height: 0.85rem;
	padding: 0 0.2rem;
	background-color: #45b7fe;
}

.top .top1 {
	padding: 0.2rem 0;
}

.top1 .col-xs-8  img {
	padding: 0.05rem 0;
	float: right;
}

.top1 .col-xs-8 .col-xs-6 p {
	color: #FFFFFF;
	text-align: center;
	font-size: 0.32rem;
	line-height: 0.4rem;
	max-height: 0.4rem;
}
.midd {
	height: 2rem;
	padding: 0.2rem;
	width: 100%;
	background-color: #FFFFFF;
}
.midd .midd1{
	width: 100%;
	height: ;
}
.midd .col-xs-4{
	text-align: center;
}
.midd2 .col-xs-2 img{
	float: right;
}
.midd .p1{
	font-size: 0.28rem;
	line-height: 0.3rem;
	max-height: 0.3rem;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
}
.midd .p2{
	color: #999999;
	font-size: 0.24rem;
	line-height: 0.3rem;
	max-height: 0.6rem;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}
.midd1 .col-xs-1 img{
	vertical-align: top;
}
.midd .midd1{
	height: 0.6rem;
}
.midd .p3{
	color: #999999;
	font-size: 0.24rem;
	line-height: 0.6rem;
	max-height: 0.6rem;
}
.midd2 .col-xs-1 img{
	vertical-align: bottom;
}
/*图片大小控制*/
.logo{
	width: 1rem;
}
.col-xs-4 img{
	width: 1.9rem;

}
.dian-top{
	width: 0.22rem;
}
.search{
	width: 0.36rem;
}
.gps{
	width: 0.46rem;
}
.hdian{
	width: 0.16rem;
}
.iphone{
	width: 0.22rem;
}
.message{
	width: 0.6rem;
}