.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
	padding: 0!important
}

.top {
	width: 100%;
	height: 0.85rem;
	padding: 0 0.2rem;
	background-color: #45b7fe;
}

.top .top1 {
	padding: 0.2rem 0;
}

.top1 .col-xs-8 .col-xs-2 img {
	padding: 0.05rem 0;
	float: right;
}

.top1 .col-xs-8 .col-xs-6 p {
	color: #FFFFFF;
	text-align: center;
	font-size: 0.32rem;
	line-height: 0.4rem;
	max-height: 0.4rem;
}

.top1 .col-xs-8 .col-xs-1 img {
	padding: 0.2rem 0;
}
.BMap_Marker img{
	display: none;
}
.map img{
	display: block;
	margin: 0 39%;
	text-align: center;

}
.map{
	z-index: 5;
	height: 1.58rem;
	width: 1.24rem;
	background-image: url(../img/images/map-bj.png);
	background-size:1.24rem;
}
.map-1{
	z-index: 5;
	height: 1.58rem;
	width: 1.24rem;
	background-image: url(../img/images/map-bj-1.png);
	background-size:1.24rem;
}
.map1{
	padding: 0.1rem 0;
}
.col-xs-12{
	text-align: center;
}
.col-xs-12 p{
	text-align: center;
	font-size: 0.2rem;
	margin: 0 0.2rem;
	max-width: 0.8rem;
	line-height: 0.3rem;
	max-height: 0.3rem;
	color: #FFFFFF;
}
.white{
	position: absolute;
	z-index: 15;
	height: 0.45rem;
	width: 0.45rem;
	float: right;
	border-radius: 50px;
	text-align: center;
	background-color: #FFFFFF;
}
.cue{
	margin: 0.023rem;
	position: absolute;
	z-index: 20;
	height: 0.4rem;
	width: 0.4rem;
	float: right;
	border-radius: 50px;
	text-align: center;
}
.cue p{
	padding: 0.05rem;
	font-size: 0.2rem;
	color: #FFFFFF;
}
.cue1{
	
	background-color: #73da57;
	border: 1px solid #73da57;
	left: 0px;
}
.cue2{
	background-color: #f8a12d;
	border: 1px solid #f8a12d;
	left: 0px;
}

label{
	border: 0px;
	background-color: #FFFFFF;
}
select{
	width: 100%;
	font-size: 0.24rem;
	height: 0.4rem;
	padding: 0.0rem 0.12rem;
	-webkit-appearance: none;
	color: #FFFFFF;
	border: 0px;
	background: transparent url(../img/top/select.png)  right no-repeat;

}

.map-img{
	width: 0.44rem;
}
.logo{
	width: 1rem;
}
.dian-top{
	width: 0.22rem;
}
.search{
	width: 0.36rem;
}