body{
	font-family: "微软雅黑";
	background-color: #F1F1F1;
}
input{
	border: 0;
}
h1,h2,h3{
	margin: 0px;
}
h1 {
	font-size: 0.36rem;
}
h2{
	font-size: 0.3rem;
}
h3{
	font-size: 0.24rem
}
img{
	vertical-align: top;
}
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
	padding: 0!important
}
.top-top{
	background-image: url(../img/images/a-clolo.png);
	background-size: auto 3rem;
}
.top {
	height: 1rem;
	width: 100%;
}
.top .recommend{
	padding:0.25rem;
}
.pic {
	text-align: center;
	height: 0.4rem;
}
.pic img {
	float: left;
}
.reco{
	height: 0.5rem;
}
.reco-in {
	height: 0.5rem;
	padding: 0.05rem 0;
}
.reco-in .rig{
	float: right;
}
.top1{
	padding: 0 0.25rem 0.25rem;
	height: 1.6rem;
}
.reco-1{
	height: 1.8rem;
}
.reco-1 img{
	vertical-align: middle;
}
.reco-2{
	padding: 0.2rem 0px;
}
.reco-2 .reco-im{
	float: right;
}
.reco-2 .reco-h{
	padding: 0.4rem 0px;
}
.reco-h h3{
	color: #FFFFFF;
	margin-top: 0.1rem;
}
.reco-2 .reco-im{
	float: right;
	padding: 0.5rem 0;
}
.reco-in-ri{
	padding: 0.3rem 0px 0.1rem;
}
.reco-pic {
	overflow: hidden;
	vertical-align: middle;
}
.reco-pic img {
border-radius: 50px;
}
.pic-p p {
	color: #FFFFFF;
	font-size: 0.28rem;
}

h1 {
	margin: 0.03rem;
	text-align: left;
	color: #FFFFFF;
}
.pic-p .pic-p-h{
	font-size: 0.28rem;
}
.gray{
	height: 0.2rem;
	background-color: #f1f1f1;
	width: 100%;
}
.cen{
	width: 100%;
	padding: 0.25rem;
	height: 0.85rem;
	background-color: #FFFFFF;
}
.cen .cen-1-1{
	color: #666666;
}
.cen .cen-1-1 h2{
	float: left;
	padding-bottom: -0.25rem;

}
.cen .cen-1-1 img{
	float: left;
}
.cen .cen-1-2{
	float: right;
}

.foot1{
	position: fixed;
	background-color: #FFFFFF;
	width: 100%;
	z-index: 10;
	bottom: 0px;
}
h3{
	margin: 0px;
}
.col-xs-3{.
	padding: 0px;
}
.col-xs-3 img{
	max-height: 100%;
	max-width: 100%;
}
.foot1 .fx{
	padding: 0.3rem 0px;
	border-bottom: 1px solid #e3e3e3;
}
.foot1 .foot1-img{
	text-align: center;
}
.foot-qx{
	margin: 0.4rem 0px;
	text-align: center;
}
.foot-qx .qx-h3{
	padding: 0.1rem 0.5rem;
	margin: 0px 30%;
	border: 1px solid #45b7fe;
	border-radius: 20px;
}
#share{
	display: none;
}
.cue{
	position: absolute;
	margin-left: 1.8rem;
	z-index: 20;
	height: 0.25rem;
	width: 0.25rem;
	float: right;
	background-color: #f8622d;
	border: 1px solid #f8622d;
	border-radius: 50px;
	text-align: center;
}
.cue p{
	font-size: 0.15rem;
	color: #FFFFFF;
}
.cue1{
	right: -10px;
	margin-right: 0px;
}


/* zhaop*/
.zuo-1{
	width: 0.2rem;

}
.no{
	width: 0.36rem;

}
.setup{
	width: 0.36rem;

}
.default{
	width: 1.4rem;

}
.reco-im img{
	width: 0.18rem;

}
.cen-1-1 img{
	width: 0.32rem;

}
.cen-1-2 img{
	width: 0.18rem;

}
.foot1 .foot1-img img{
	width: 0.94rem;

}
